<nav class="dn-l flex justify-between items-center bb b--white-10 relative z-3">
  <a class="f6 b ttu dib pa3 gold" href="{{ site.url }}">Joe + Kelly</a>
  <span class="f6 b ttu dib pa3 pointer" id="menu-open">Menu<i class="icon icon-menu ml2"></i></span>
  <div id="nav-list" class="fixed w-100 bg-near-black">
    <div class="f6 b ttu pa3 bb b--white-10 flex items-center justify-end pointer" id="menu-close">
      <span class="dib">Close<i class="icon icon-close ml2"></i></span>
    </div>
    {% assign pages = site.pages | sort: 'order' %}
    {% for link in pages %}
      {% if link.navEnabled == true %}
      <a class="f6 b nav-link bb bt bw2 b--transparent ttu db pa3 tr" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
      {% endif %}
    {% endfor %}
  </div>
</nav>

<nav class="dn flex-l items-center justify-center bb b--white-10">
  {% assign pages = site.pages | sort: 'order' %}
  {% for link in pages %}
    {% if link.navEnabled == true %}
    <a class="f6 b nav-link bb bt bw2 b--transparent ttu dib pv3 ph2 ph3-ns {% if page.url == link.permalink %}active{% endif %}" href="{{ link.url | prepend: site.baseurl }}">{{ link.title }}</a>
    {% endif %}
  {% endfor %}
</nav>
