:root {
	--xxs: .125rem;
	--xs: .25rem;
	--sm: .5rem;
	--md: 1rem;
	--lg: 2rem;
	--xl: 4rem;
	--xxl: 8rem;
	
	--gold-dark: #8e793e;
	--gold: #ad974f;
	--black: #111;
	--gray: #eaeaea;
  --gray-mid: #8a8a8a;

	--text-main: var(--gray);
	--text-muted: var(--gray-mid);
	--link-color: var(--gold);
	--border-color: rgba(255,255,255,.4);
}
